*{  
    padding: 0;
    margin: 0;
    background-color: white;
}
#nav{
    background-color: rgb(24, 3, 3);
    
    height: 60px;
    
    
}
#Am{
    background-color: black;
    color: chocolate;

}
#acc{
    color: rgb(239, 242, 245);
    background-color: black;
}
#cart{
    color: rgb(229, 234, 234);
    background-color: black;
}
#Contact{
    color: rgb(221, 217, 225);
    background-color: black;
}
button{
    color: rgb(250, 255, 253);
    background-color: brown;
}
a{
    margin-right: 200px; /*a = link er jonno jei a href dei oita*/
}

#Box{
    height: 1000px;
    background-image:url(22.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;

}
#Box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    padding: 50px ;
    margin: 20px;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 3;

}
#Box2{
    height: 100px;
    width: 100px;
    background-color: brown;
    padding: 50px;
    margin: 20px ;
    display: inline-block;
    position: relative;
    right: 50px;
    z-index: 2;
}

#Box3{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    padding: 50px;
    margin: 20px ;
    display: inline-block;
    position: relative;
    right: 400px;
    z-index: 1;
}
#
footer{

    text-align: center;
    height: 20px;
    background-color: rgb(22, 22, 22);
    color: aliceblue;
}

#B{
    height: 1000px;
    width: 800px;
  background-image: url(1p.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aaa{
     height: 100px;
    width: 100px;
    background-color: aqua;
   padding: 50px ;
   margin: 20px;
  
   display: inline-block;
   background-color:rgba(74, 74, 224, 0.5);
    margin-left: 50px;
    position: static;
    
}

#bbb{
     height: 100px;
    width: 100px;
    background-color: blueviolet;
    padding: 50px;
    margin: 20px ;
    display: inline-block;
    background-color: rgba(33,4,100,55); 
    margin-left: 50px;
    position:relative;
    top: 50px;
    left: 100px;
    background-image: url(mew.jpeg);
    background-size: cover;

}
#ccc{
    height: 100px;
    width: 100px;
    background-color: brown;
    padding: 50px;
    margin: 20px ;
    display: inline-block;
    background-color: rgba(82, 82, 206, 0.2);
    margin-left: 50px;
    position: absolute;
    
    bottom: 60px;
    left: 70px;
   
}
#outer{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    padding: 20px;
}
#inner{
    height: 2rem;
    width: 4rem;
    background-color: rgb(232, 142, 142);
    padding: 20%;
}
#outer1{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 109, 224);
    padding: 40px;
}
#inner1{
    height: 4rem;
    width: 6rem;
    background-color: rgb(239, 55, 150);
    padding: 60px;
}

