h1{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
}
#Box{ 
    border: 2px solid black;
    height: 400px;
    width: 500px;
    display: flex;
    /*flex-direction: row;
    flex-direction: row-reverse;*/
    justify-content: space-around;
    /*align-items: center;
    flex-wrap:  wrap;
    align-content: center;*/

    
}
#R{
    
    border-color: aqua;
    background-color: brown;
    display: flex;
    align-self:flex-end;
    flex-shrink: 0.5;
}
#B{
    
    border-color: rgb(7, 52, 13);
    background-color: rgb(29, 18, 112);
    display: flex;
    align-self: center;
    flex-grow: 3;
  
}
#G{ 
   
    border-color: aqua;
    background-color: rgb(21, 93, 22);
    display: inline-block;
    align-self:last baseline;
}
#O{
    border-color: aqua;
    background-color: rgb(192, 61, 14);
    display: inline-block;
    align-self: center;
}
#P{
    
    border-color: aqua;
    background-color: rgb(73, 16, 88);
    display: inline-block;
}
