
 h1{
    color: rgb(13, 0, 255);
    text-align: center;
}

h2{
    color: rgb(138, 138, 8);
    text-align: right;
}
h1{

   color:rgb(186, 14, 14)
}
p{
    color:rgb(127, 157, 255)
}
button{
    background-color: blueviolet;
    color: rgb(205, 4, 4);
    
   
}

body{
    background-image: url("W.jpeg");


}
#picchi{
    color: rgb(253, 59, 0);
    background-color: aquamarine;
    background-attachment: fixed;
}